---
layout: single
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  <h2 class="archive__item-title" itemprop="headline">
    {% if post.pdf %}
      <a href="{{ post.pubmed }}" style="color:inherit;">{{ post.title }}</a> (<a href="{{ post.pdf }}">PDF</a>)
    {% elsif post.pdf_local %}
      <a href="{{ post.pubmed }}" style="color:inherit;">{{ post.title }}</a> (<a href="{{ post.pdf_local | prepend: "/files/" | prepend: basepath }}">PDF</a>)
    {% else %}
      <a href="{{ post.pubmed }}" style="color:inherit;">{{ post.title }}</a>
    {% endif %}
  </h2>
  
  {% if post.thumbnail %}
    <img src="{{ post.thumbnail | prepend: "/images/" | prepend: basepath }}" style="float:right;align-horizontal:middle;height:150px;border:1px solid black;">
  {% endif %}

  
  <p>{{ post.excerpt }}</p>

  <small><p style="line-height:1.3">{{ post.authors }}. {{ post.title }}. <i>{{ post.journal }}</i> <b>{{ post.volume }}</b> {{ post.page_num | default: '' }} ({{ post.date | date: "%Y" }})</p></small>
  
  <br/>
{% endfor %}
